ul.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
li.menu {
float: right;
border-right:1 solid #bbb;
padding: 0.1em;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

li a:hover:not(.active) {
background-color: rgb(110, 108, 108);
}

.active {
background-color: #3f4980;
}

li.title {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

p.headline{
  font-size: 3em;
  text-align: center;
  background-color: #bbb;
  padding: 2em;
  margin-top: 0.01em;
  margin-bottom: 0.01em;
}

p{
  font-size: 1em;
}

div.paragraph
{
  font-family: 'Gill Sans';
  font-size: 1.2em;
  padding: 0.5em;
  margin-top: 0.1em;
}

img.side{
  border-radius: 3px;
  float:right;
  width: 50%;
  padding: 0.1em;
}